.Flicker {
  position: relative;
  width: 2rem;
  height: 6rem;
  border: solid 2px #fada5e;
  border-radius: 30px;
  cursor: pointer;
}

.flicker-dot {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #000;
  border-radius: 50%;
  opacity: 0;
}

.flicker-position-one {
  top: 10%;
  left: 30%;
}

.flicker-position-two {
  top: 45%;
  left: 30%;
}

.flicker-position-three {
  bottom: 10%;
  left: 30%;
}

.active-flicker-position {
  opacity: 100;
}
