.OpenBody {
  grid-area: OpenBody;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.OpenBody-container, .ActiveBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.OpenBody-header {
  display: flex;
  gap: 1rem;
}

.OpenBody-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 1350px) {
  .OpenBody-list {
    flex-wrap: nowrap;
    width: 100%;
    margin-left: auto;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }
}
